node_modules
yarn.lock
dist
docs/.vitepress/cache

# Ignore all files inside .idea folder except codeStyles folder
.idea/*
!.idea/codeStyles/

# Exclude specific files inside .idea folder
!.idea/.gitignore
!.idea/codeStyleDocs.xml